apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Chart.Name }}-{{ .Values.poolName | lower | replace " " "-" | replace "." "-" | replace "+" "-" }}
  labels:
    app: {{ .Chart.Name }}-{{ .Values.poolName | lower | replace " " "-" | replace "." "-" | replace "+" "-" }}
spec:
  serviceName: {{ .Chart.Name }}-{{ .Values.poolName | lower | replace " " "-" | replace "." "-" | replace "+" "-" }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-{{ .Values.poolName | lower | replace " " "-" | replace "." "-" | replace "+" "-" }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-{{ .Values.poolName | lower | replace " " "-" | replace "." "-" | replace "+" "-" }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - "/usr/local/bin/python"
        - "main.py"
        args:
        {{- range .Values.arguments }}
        - {{ . | quote }}
        {{- end }}
        {{- if .Values.service.enabled }}
        ports:
          - name: "stratum"
            containerPort: {{ .Values.service.ports.stratum }}
            protocol: TCP
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}